.about-info{
    padding: 0 10px;
    
}
.aboutInfo-box{
    border-radius: 5px;
    padding: 10px;
    box-shadow: 5px 5px 10px gray;
    background-color: rgb(53, 65, 77);
    color: snow;
}

.about-icon:hover{
    color: #33ff00;
}