.review-content{
    box-shadow: 5px 5px 10px gray;
    padding: 15px 10px;
    border-radius: 10px;
}
.text-review{
    background-color: rgb(65, 37, 11);
    color: #fff;
    border-radius: 5px;
    padding: 8px;
    margin-top: 10px;
}
.text-review p{
    margin: 0;
}
.img-round{
    width: 80px;
    border-radius: 50%;
    margin-right: 10px;
}
.ratings ul{
    padding: 0;
    text-align: center;
}
.ratings ul li{
    list-style: none;
    display: inline-block;
    color: gold;
    font-size: 18px;
}